
body {
    display: inline;
}

div {
    font-family: 'Segoe UI', sans-serif;
    background-color: rgb(236, 143, 143);
    border: 1px solid black;
    width: 30%;
    box-sizing: border-box;
    text-align: center;
    position: absolute;

    /*  */
    margin-left: 40%;
    margin-top: 20%
    /* Стоило установить фиксированные внешние отступы сверху-снизу и автоматические внешние отступы по бокам, чтобы главный контейнер располагался всегда только по центру  */
}

input {
    margin-bottom: 20px;
}
